!!! 5
%html
  %head
    %title MyNagios
    = stylesheet_link_tag 'my_nagios/application', media: 'all'
    = javascript_include_tag 'my_nagios/application'
    = csrf_meta_tag

  %body.container-fluid
    #my_nagios_body
      = yield