/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#my_nagios_body {
  a.fail_check {
    font-weight: bold;
  }

  .updating {
    color: #e6e6e6;
  }

  .spinner {
    width: 14px;
  }

  .checkbox_holder {
    padding-right: 8px;
  }

  input.select_all_group {
    margin-top: 30px;
  }

  td {
    h4 {
      margin-top: 20px;
    }
  }

  td.snooze_for {
    color: #e6e6e6;
  }

  .snooze_for {
    font-weight: bold;
    color: #31708f;
  }
}