/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#my_nagios_body {
  a.fail_check {
    font-weight: bold;
  }

  .updating {
    color: #e6e6e6;
  }

  .spinner {
    width: 14px;
  }
}