/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#my_nagios_body {
  * {
    font-size: 0.9em;
  }

  #failures_list {
    position: relative;

    .timer {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    table.failures_list.refresing {
      color: #e6e6e6;
    }
  }

  table.check_list {
    tr.disabled {
      background-color: #e6e6e6;
    }

    .check_interval {
      color: #e6e6e6;
    }
  }
}